Ready!/AspNetUI/Service References/ReadyEDMS/EDMSService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Ready.Model.Business" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Ready.Model.Business" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfParentEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ParentEntity" nillable="true" type="tns:ParentEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfParentEntity" nillable="true" type="tns:ArrayOfParentEntity" />
  <xs:complexType name="ParentEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponsibleUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" type="tns:ParentEntityType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParentEntity" nillable="true" type="tns:ParentEntity" />
  <xs:simpleType name="ParentEntityType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Null" />
      <xs:enumeration value="AuthorisedProduct" />
      <xs:enumeration value="Product" />
      <xs:enumeration value="PharmaceuticalProduct" />
      <xs:enumeration value="Activity" />
      <xs:enumeration value="Task" />
      <xs:enumeration value="Project" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ParentEntityType" nillable="true" type="tns:ParentEntityType" />
</xs:schema>