Ready!/AspNetUI/Service References/ReadyEDMS/EDMSService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://pantera:8081/EDMSService.ReadyEDMS.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Ready.Model.Business" />
  <xs:element name="GetEDMSParentEntities">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EDMSDocumentId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEDMSParentEntitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Ready.Model.Business" minOccurs="0" name="GetEDMSParentEntitiesResult" nillable="true" type="q1:ArrayOfParentEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>