Ready!/EVMessage/Resources/ACKXEVMPD.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="evprmack" id="A">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ichicsrmessageheader"/>
				<xs:element ref="acknowledgment"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ichicsrmessageheader" id="B">
		<xs:annotation>
			<xs:documentation xml:lang="en">The message header section contains the relevant information on the sender,
 receiver, the type of information being transmitted and the transmission date.
 This is a section header for the message header. This section assumes the 
establishment of an EDI trading partnership agreement that will help define the 
message number, sender ID, receiver ID, message date.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="messagetype"/>
				<xs:element ref="messageformatversion"/>
				<xs:element ref="messageformatrelease"/>
				<xs:element ref="messagenumb"/>
				<xs:element ref="messagesenderidentifier"/>
				<xs:element ref="messagereceiveridentifier"/>
				<xs:element ref="messagedateformat"/>
				<xs:element ref="messagedate"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="messageacknowledgment" id="E">
		<xs:annotation>
			<xs:documentation>This section describes the general data about the acknowledgement and the original message</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="evmessagenumb" id="E.1">
					<xs:annotation>
						<xs:documentation>The code associated to message we are sending the acknowledgement by EV System</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="100"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="originalmessagenumb" id="E.2">
					<xs:annotation>
						<xs:documentation>The Message Number of the message, Locally Assigned, we are sending the acknowledgement</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="100"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="originalmessagesenderidentifier" id="E.4">
					<xs:annotation>
						<xs:documentation>The Message Sender Identifier of the message we are sending the acknowledgement</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="60"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="originalmessagereceiveridentifier" id="E.5">
					<xs:annotation>
						<xs:documentation>The Message Receiver Identifier of the message we are sending the acknowledgement</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="60"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="originalmessagedateformat" id="E.6">
					<xs:annotation>
						<xs:documentation>The format of the Original Message Date.</xs:documentation>
						<xs:documentation>The unique value admitted is "204" corresponding at "CCYYMMDDHHMMSS"</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:length value="3"/>
							<xs:enumeration value="204"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="originalmessagedate" id="E.7">
					<xs:annotation>
						<xs:documentation>The Original Message Date.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:length value="14"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="transmissionacknowledgmentcode" id="E.8">
					<xs:annotation>
						<xs:documentation>01= All Reports loaded into database 02 = EVPR Error, not all reports loaded into the database, check section B 03= SGML parsing error, no data extracted </xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:length value="2"/>
							<xs:enumeration value="01"/>
							<xs:enumeration value="02"/>
							<xs:enumeration value="03"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="parsingerrormessage" id="E.9" minOccurs="0">
					<xs:annotation>
						<xs:documentation>This field contains the description when happened an error. It's mandatory when transmission acknowledgment code is 03.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string"/>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="reportacknowledgment">
		<xs:annotation>
			<xs:documentation>This section contains information about the acknowledgment of each part of message.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="reportname" id="G.1">
					<xs:annotation>
						<xs:documentation>This field says the type section of message</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="60"/>
							<xs:enumeration value="ATTACHMENT"/>
							<xs:enumeration value="MFL"/>
							<xs:enumeration value="ORGANISATION"/>
							<xs:enumeration value="SOURCE"/>
							<xs:enumeration value="DEVELOPMENTSUBSTANCE"/>
							<xs:enumeration value="APPROVEDSUBSTANCE"/>
							<xs:enumeration value="ATCCODE"/>
							<xs:enumeration value="PHARMACEUTICALFORM"/>
							<xs:enumeration value="ADMINISTRATIONROUTE"/>
							<xs:enumeration value="DEVELOPMENTPRODUCT"/>
							<xs:enumeration value="AUTHORISEDPRODUCT"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="localnumber" id="G.2" minOccurs="0">
					<xs:annotation>
						<xs:documentation>This field is the number assigned by the sender to identify report in the position of XML file. May be Null for no Inserts, and it's mandatory for Inserts.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="60"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ev_code" id="G.3" minOccurs="0">
					<xs:annotation>
						<xs:documentation>This field is the number assigned by the EVMPD in case of an INSERT or by the sender, in all other cases, to identify the report in the EVMPD. May be Null for the insucessfull Inserts (see operationresult)</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="60"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="operationtype" id="G.4">
					<xs:annotation>
						<xs:documentation>This field says which operation type wanted to do in each section (1=Insert, 2=Update, 3=Variation, 4=Nullify, 5=Change Ownership, 6=Withdrawn).</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:nonNegativeInteger">
							<xs:maxInclusive value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="operationresult" id="G.5">
					<xs:annotation>
						<xs:documentation>This field says the operation result of a particular section</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:nonNegativeInteger">
							<xs:maxExclusive value="101"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="operationresultdesc" id="G.6">
					<xs:annotation>
						<xs:documentation>This field says the description operation result of a particular section</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="reportcomments" id="G.7" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The section reportcomments contains the list of errors and warnings detected by the message parsing process </xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="reportcomment" id="G.7.1" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>The message parsing process will add a specific report comment element for each parsing warning or error detected during the validation process</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="severity" id="G.7.1.1">
											<xs:annotation>
												<xs:documentation>The severity flag describes if the report comment is an error or a warning</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:nonNegativeInteger">
													<xs:totalDigits value="1"/>
													<xs:enumeration value="1"/>
													<xs:enumeration value="2"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="sectionname" id="G.7.1.2" minOccurs="0">
											<xs:annotation>
												<xs:documentation>The XML message section which the comment is referred to</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="60"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="fieldname" id="G.7.1.3" minOccurs="0">
											<xs:annotation>
												<xs:documentation>This field contains the field's name in which was produced the first error (if exists)</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="60"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="fieldvalue" id="G.7.1.4" minOccurs="0">
											<xs:annotation>
												<xs:documentation>This field contains the value of field in which was produced the first error (if exists)</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string"/>
											</xs:simpleType>
										</xs:element>
										<xs:element name="commentcode" id="G.7.1.5" minOccurs="0">
											<xs:annotation>
												<xs:documentation>This field contains a comment about the error type </xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:nonNegativeInteger">
													<xs:totalDigits value="3"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="commenttext" id="G.7.1.6" minOccurs="0">
											<xs:annotation>
												<xs:documentation>This field contain a detailed explanation of the error</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string"/>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="messagetype" id="B.1">
		<xs:annotation>
			<xs:documentation>Message Type</xs:documentation>
			<xs:documentation xml:lang="en">The message type contains information on the type of information being
	 transmitted. When creating a message, the value of this field should be "EVPRM".</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="16"/>
				<xs:enumeration value="EVPRACK"/>
				<xs:enumeration value="evprack"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="messageformatversion" id="B.2">
		<xs:annotation>
			<xs:documentation>Message Format Version</xs:documentation>
			<xs:documentation xml:lang="en">The message format version contains the version number of the SCHEMA.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="3"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="messageformatrelease" id="B.3">
		<xs:annotation>
			<xs:documentation>Message Format Release</xs:documentation>
			<xs:documentation xml:lang="en">The message format release contains the release number of the message
	 format version number of the SCHEMA.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="3"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="messagenumb" id="B.4">
		<xs:annotation>
			<xs:documentation>Message Number</xs:documentation>
			<xs:documentation xml:lang="en">The message number is a unique tracking number assigned to a specific
	 product message file transmitted by the sender.
	 This message number is unique to the sender.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="messagesenderidentifier" id="B.5">
		<xs:annotation>
			<xs:documentation>Message Sender Identifier</xs:documentation>
			<xs:documentation xml:lang="en">This field identifies the sender of the message, e.g., company name
	 identifier or regulatory authority name identifier.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="60"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="messagereceiveridentifier" id="B.6">
		<xs:annotation>
			<xs:documentation>Message Receiver Identifier</xs:documentation>
			<xs:documentation xml:lang="en">This field identifies the intended recipient of the transmission of the message, e.g., company name identifier or regulatory authority name identifier.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="60"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="messagedateformat" id="B.7">
		<xs:annotation>
			<xs:documentation>The Original Message Date.</xs:documentation>
			<xs:documentation>The unique value admitted is "204" corresponding at "CCYYMMDDHHMMSS"</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:length value="3"/>
				<xs:enumeration value="204"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="messagedate" id="B.8">
		<xs:annotation>
			<xs:documentation>Message Date</xs:documentation>
			<xs:documentation xml:lang="en">The message date is the date on which the message was initiated.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:length value="14"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="acknowledgment">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="messageacknowledgment"/>
				<xs:element ref="reportacknowledgment" id="G" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
