Ready!/EVMessage/Resources/marketingauthorisation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="EVMessage.MarketingAuthorisation.Schema" targetNamespace="EVMessage.MarketingAuthorisation.Schema" elementFormDefault="qualified">
	<xs:element name="marketingauthorisation" id="M">
		<xs:annotation>
			<xs:documentation>
				Marketing authorisation message Schema.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="messageheader" id="B" type="messageheaderType" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>
							Contains message identifiers generated by Sandoz.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="attachments" id="M.ATTs" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							Contains the new attachments required by the EVPRM
							Business Rules: M.ATTs.BR.
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="attachment" type="attachmentType" id="ATT" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>The document bundled in support of the product message being sent</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="authorisedproducts" id="M.APs" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							The Authorised products section contains all the information regarding Authorised Medicinal Products.
							Business Rules: M.AP.BR.
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="authorisedproduct" type="authorisedproductType" id="M.AP" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>The Authorised product section contains all the information regarding a single Authorised Medicinal Product that is either marketed in one country or throughout the EU following the approval via Central Authorisation Procedures.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
        <xs:element ref="optional1" minOccurs="0" maxOccurs="1" />
        <xs:element ref="optional2" minOccurs="0" maxOccurs="1" />
        <xs:element ref="optional3" minOccurs="0" maxOccurs="1" />
        <xs:element ref="optional4" minOccurs="0" maxOccurs="1" />
        <xs:element ref="optional5" minOccurs="0" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="messageheaderType">
		<xs:sequence>
			<xs:element name="messageformatversion" id="B.1">
				<xs:annotation>
					<xs:documentation>Message Format Version</xs:documentation>
					<xs:documentation xml:lang="en">The message format version contains the version number of the SCHEMA.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="messageformatrelease" id="B.2">
				<xs:annotation>
					<xs:documentation>Message Format Release</xs:documentation>
					<xs:documentation xml:lang="en">
						The message format release contains the release number of the message
						format version number of the SCHEMA.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="registrationnumber" id="B.3" minOccurs="1" maxOccurs="1" >
				<xs:annotation>
					<xs:documentation>
						The Sandoz registration number must be specified for every message.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
            <xs:minLength value="1" />
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="registrationid" id="B.4" minOccurs="1" maxOccurs="1" >
				<xs:annotation>
					<xs:documentation>
						The Sandoz registration id must be specified for every message.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:totalDigits value="10"/>
            <xs:minInclusive value="0" />
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="readymessageid" id="B.5" minOccurs="0" maxOccurs="1" >
				<xs:annotation>
					<xs:documentation>
						Ready message id, used to identify message in Ready! system.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="60"/>
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="messagedateformat" id="B.6">
				<xs:annotation>
					<xs:documentation>The Message Date Format</xs:documentation>
					<xs:documentation>The unique value admitted is "204" corresponding at "CCYYMMDDHHMMSS"</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="3"/>
						<xs:enumeration value="204"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="messagedate" id="B.7">
				<xs:annotation>
					<xs:documentation>Message Date</xs:documentation>
					<xs:documentation xml:lang="en">The message date is the date on which the report was initiated.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="14"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="attachmentType">
		<xs:sequence>
			<xs:element name="localnumber" id="ATT.1">
				<xs:annotation>
					<xs:documentation>
						The unique reference for the entity in the message.
						Business Rules: ATT.1.BR.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="60"/>
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="filename" id="ATT.2">
				<xs:annotation>
					<xs:documentation>The file name of the attachment with file extension</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="200" fixed="false"/>
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="filetype" id="ATT.3">
				<xs:annotation>
					<xs:documentation>
						The file type of the attachment.
						Allowed values are as contained within the restriction allowedfiletypes
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int" id="allowedfiletypes">
						<xs:enumeration value="1" id="pdf"/>
						<xs:enumeration value="2" id="doc"/>
						<xs:enumeration value="3" id="docx"/>
						<xs:enumeration value="4" id="xls"/>
						<xs:enumeration value="5" id="xlsx"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="attachmentname" id="ATT.4">
				<xs:annotation>
					<xs:documentation>The name of the attachment given by the sender</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="2000"/>
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="attachmenttype" id="ATT.5">
				<xs:annotation>
					<xs:documentation>
						Type of attachment:
						Printed Product Information (PPI) = 1
						Printed Substance Information (PSI) = 2
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="languagecode" id="ATT.6">
				<xs:annotation>
					<xs:documentation>
						The code of the language as reported in the LANGUAGE published list
						Business Rules: ATT.6.BR.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="2"/>
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="attachmentversion" id="ATT.7">
				<xs:annotation>
					<xs:documentation>The version of the PPI attachement</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="5"/>
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="attachmentversiondate" id="ATT.8">
				<xs:annotation>
					<xs:documentation>
						The date of the last update of the PPI document
						Business Rules: ATT.8.BR
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="8"/>
						<xs:whiteSpace value="collapse"/>
						<xs:pattern value="[0-9]*"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="versiondateformat" id="ATT.9">
				<xs:annotation>
					<xs:documentation>Format of the Version Date. Only accepted value is "102" for "CCYYMMDD"</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="102"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="operationtype" use="required" id="ATT..1">
			<xs:annotation>
				<xs:documentation>
					The type of the operation for this entity. The only value accepted is 1 = Insert
					Business Rules: ATT..1.BR.
				</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:int">
					<xs:enumeration value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="authorisedproductType">
		<xs:sequence>
			<xs:element name="localnumber" id="AP.1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						The unique reference for the entity in the message. It's mandatory for Operation Type Insert.
						Business Rules: AP.1.BR
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="60"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ev_code" id="AP.2" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						EV_Code of the Authorised Medicinal Product. It's mandatory if the operation type is NOT an insert.
						Business Rules: AP.2.BR.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="60"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="newownerid" id="AP.3" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						This field identifies the new Owner of the Authorised Product. The field is reserved for EMA use only
						Business Rules: AP.3.BR.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="60"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="mahcode" id="AP.4">
				<xs:annotation>
					<xs:documentation>
						The MAH code of the Marketing Authorisation Holder as reported in the application of the product. This element must have an attribute: Resolution Mode.
						Business Rules: AP.4.BR
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="fk_code">
							<xs:attribute name="resolutionmode" use="required" id="AP.4..1">
								<xs:annotation>
									<xs:documentation>
										Resolution mode = 1 Local (Local Number present in the XML file).
										Resolution mode = 2 Global (ev_code present in the EudraVigilance Lookup Tables)
									</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:int">
										<xs:enumeration value="1"/>
										<xs:enumeration value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="qppvcode" id="AP.5" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						The EV Registration System QPPV code assigned to the QPPV detailed in the Pharmacovigilance System Master File in place for the product. Format of this code is USRnnnn
						Business Rules: AP.5.BR.
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="fk_code"/>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="mflcode" id="AP.6" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						The code of the PharmacoVigilance System Master File Location.  Must have an attribute; resolutionmode.
						Business Rules: AP.6.BR.
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="fk_code">
							<xs:attribute name="resolutionmode" use="required" id="AP.6..1">
								<xs:annotation>
									<xs:documentation>
										Resolution mode = 1 Local (Local Number present in the XML file).
										Resolution mode = 2 Global (ev_code present in the EudraVigilance Lookup Tables) - The format of stored master files location codes is MFLxxxxxx.
									</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:int">
										<xs:enumeration value="1"/>
										<xs:enumeration value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="enquiryemail" id="AP.7" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						The Pharmacovigilance Enquiry email address shall be specified.
						Business Rules: AP.7.BR
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="enquiryphone" id="AP.8" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						The Pharmacovigilance Enquiry telephone number shall be specified.
						Business Rules: AP.8.BR.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="senderlocalcode" id="AP.9" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Sender Local Code</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="infodateformat" id="AP.10" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						The format of the Info Date. The only value accepted is "102" corresponding to "CCYYMMDD"
						Business Rules: AP.10.BR.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="3"/>
						<xs:enumeration value="102"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="infodate" id="AP.11" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Date of the most recent update to the Summary Product Characteristics (SPC). The format must conform to "CCYYMMDD"
						Business Rules: AP.11.BR.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="14"/>
						<xs:pattern value="[0-9]*"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="authorisation" id="AP.12">
				<xs:annotation>
					<xs:documentation>This section contains all the information on the product authorisation.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="authorisationcountrycode" id="AP.12.1">
							<xs:annotation>
								<xs:documentation>
									Country code of the country in which the product has been authorised
									Business Rules: AP.12.1.BR
								</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="2"/>
									<xs:whiteSpace value="collapse"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="authorisationprocedure" id="AP.12.2">
							<xs:annotation>
								<xs:documentation>
									The procedure the product has followed to be authorised. Must be the code specified in the published list
									Business Rules: AP.12.2.BR
								</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:int"/>
							</xs:simpleType>
						</xs:element>
						<xs:element name="authorisationstatus" nillable="true" id="AP.12.3" minOccurs="0">
							<xs:annotation>
								<xs:documentation>
									Marketing authorisation status must be a value from the published list
									Business Rules: AP.12.3.BR.
								</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:int">
									<xs:totalDigits value="2"/>
									<xs:fractionDigits value="0"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="authorisationnumber" nillable="true" id="AP.12.4" minOccurs="0">
							<xs:annotation>
								<xs:documentation>
									Marketing authorisation number
									Business Rules: AP.12.4.BR.
								</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="100"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="authorisationdate" nillable="true" id="AP.12.5" minOccurs="0">
							<xs:annotation>
								<xs:documentation>
									Marketing authorisation Date
									Business Rules: AP.12.5.BR.
								</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="14"/>
									<xs:pattern value="[0-9]*"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="authorisationdateformat" nillable="true" id="AP.12.6" minOccurs="0">
							<xs:annotation>
								<xs:documentation>
									Marketing authorisation Date Format must be either "102" corresponding to "CCYYMMDD" or "610" corresponding to "CCYYMM"
									Business Rules: AP.12.6.BR.
								</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="3"/>
									<xs:enumeration value="102"/>
									<xs:enumeration value="610"/>
									<xs:enumeration value=""/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="mrpnumber" id="AP.12.7" minOccurs="0">
							<xs:annotation>
								<xs:documentation>
									If the authorisation procedure is "EU mutual recognition procedure" this field must be filled with the Mutual Recognition Procedure Number of the product.
									If the authorisation procedure is "EU decentralised procedure" this field must be filled with the EU Decentralised procedure number of the product.
									Business Rules: AP.12.7.BR
								</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="50"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="eunumber" id="AP.12.8" minOccurs="0">
							<xs:annotation>
								<xs:documentation>
									If the authorisation procedure is one of the EU centralised procedures (CAPs) this field must be filled with the "EU Number of the product"
									Business Rules: AP.12.8.BR.
								</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="50"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="orphandrug" id="AP.12.9" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Value 1 indicates that the product is an orphan drug.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:int">
									<xs:enumeration value="1"/>
									<xs:enumeration value="2"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="intensivemonitoring" nillable="true" id="AP.12.10" minOccurs="0">
							<xs:annotation>
								<xs:documentation>
									Indicates if the product is the subject of Intensive Monitoring.
									A value of 1 indicates that the product is subject to intensive monitoring.
									A value of 2 indicates that the product is NOT subject to intensive monitoring.
									Business Rules: AP.12.10.BR
								</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:int">
									<xs:enumeration value="1"/>
									<xs:enumeration value="2"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="withdrawndateformat" id="AP.12.11" minOccurs="0">
							<xs:annotation>
								<xs:documentation>
									The format of the WithdrawnDate.
									The only value accepted is "102" corresponding at "CCYYMMDD"
									Business Rules: AP.12.12.BR
								</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="3"/>
									<xs:enumeration value="102"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="withdrawndate" id="AP.12.12" minOccurs="0">
							<xs:annotation>
								<xs:documentation>
									Date from which the Medicinal Product is withdrawn.
									Business Rules: AP.12.12.BR
								</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="14"/>
									<xs:pattern value="[0-9]*"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="presentationname" id="AP.13">
				<xs:annotation>
					<xs:documentation>This section contains all the information on the product presentation.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="productname" id="AP.13.1">
							<xs:annotation>
								<xs:documentation>
									The "Full Presentation Name" of the product as it has been authorised.
									Business Rules: AP.13.1.BR
								</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="2000"/>
									<xs:whiteSpace value="collapse"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="productshortname" id="AP.13.2" minOccurs="0">
							<xs:annotation>
								<xs:documentation>
									The short name of the product as reported in the "Full Presentation Name".
									Business Rules: AP.13.2.BR.
								</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="250"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="productgenericname" id="AP.13.3" minOccurs="0">
							<xs:annotation>
								<xs:documentation>
									The generic name (if present) as part of the "Full Presentation Name".
									Business Rules: AP.13.3.BR.
								</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1000"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="productcompanyname" id="AP.13.4" minOccurs="0">
							<xs:annotation>
								<xs:documentation>
									The  name of company/trademark/manufacturer (if present) as part of the "Full Presentation Name".
									Business Rules: AP.13.4.BR.
								</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="250"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="productstrength" id="AP.13.5" minOccurs="0">
							<xs:annotation>
								<xs:documentation>
									The strength and strength unit (if present) as part of the "Full Presentation Name".
									Business Rules: AP.13.5.BR.
								</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="250"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="productform" id="AP.13.6" minOccurs="0">
							<xs:annotation>
								<xs:documentation>
									The pharmaceutical form (if present) as part of the "Full Presentation Name".
									Business Rules: AP.13.6.BR.
								</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="500"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="packagedesc" id="AP.13.7" minOccurs="0">
							<xs:annotation>
								<xs:documentation>
									This field contains information about the package of the Medicinal Product. It is Mandatory when operation type is NOT a nullification
									Business Rules: AP.13.7.BR
								</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="2000"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="productatcs" id="AP.ATCs">
				<xs:annotation>
					<xs:documentation>
						This section contains information on the ATC code(s) approved for the product.
						Business Rules: AT.ATCs.BR
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="productatc" id="AP.ATC" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="atccode" id="AP.ATC.1">
										<xs:annotation>
											<xs:documentation>
												The ATC code of the product. The ATC code must have an attribute: Resolution Mode.
												Business Rules: AP.ATC.1.BR.
											</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:simpleContent>
												<xs:extension base="fk_code">
													<xs:attribute name="resolutionmode" use="required" id="AP.ATC..1">
														<xs:annotation>
															<xs:documentation>
																Resolution mode = 1 Local (Foreign key present in the XML file)
																Resolution mode = 2 Global (ev_code present in the Eudravigilance Lookup Tables)
															</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:int">
																<xs:enumeration value="1"/>
																<xs:enumeration value="2"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:attribute>
												</xs:extension>
											</xs:simpleContent>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="productindications" id="AP.INDs" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						This section contains information about all of the indications of a Medicinal Product, according to different MEDDRA's versions.
						Business Rules: AP.INDs.BR.
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="productindication" id="AP.IND" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>This section contains information about each indication of a Medicinal Product, according to different MEDDRA's versions</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="meddraversion" id="AP.IND.1">
										<xs:annotation>
											<xs:documentation>
												The MedDRA's version that the Drug Indication MedDRA code refers to (e.g. 13.0, 13.1, 14.0 etc)
												Business Rules: AP.IND.1.BR.
											</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="3"/>
												<xs:fractionDigits value="1"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="meddralevel" id="AP.IND.2">
										<xs:annotation>
											<xs:documentation>This field says the level of Drug Indication in the MEDDRA's version.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="5"/>
												<xs:enumeration value="SOC"/>
												<xs:enumeration value="HLGT"/>
												<xs:enumeration value="HLT"/>
												<xs:enumeration value="PT"/>
												<xs:enumeration value="LLT"/>
												<xs:enumeration value="soc"/>
												<xs:enumeration value="hlgt"/>
												<xs:enumeration value="hlt"/>
												<xs:enumeration value="pt"/>
												<xs:enumeration value="llt"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="meddracode" id="AP.IND.3">
										<xs:annotation>
											<xs:documentation>
												This field details the code of MEDDRA that specifies the Drug Indication in the MEDDRA's version.
												Business Rules: AP.IND.3.BR.
											</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:int">
												<xs:totalDigits value="8"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="pharmaceuticalproducts" id="AP.PPs">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="pharmaceuticalproduct" type="pharmaceuticalproductType" id="AP.PP" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>This section contains information about every formulation in a Medicinal Product. (Some Medicinal Products are several formulations in the same presentation).</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="previousevcodes" id="AP.PEVs" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						This section is used to reference all development products that are the same as the approved product.
						Business Rules: AP.PEVs.BR.
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="previousevcode" id="AP.PEV" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="devevcode" id="AP.PEV.1">
										<xs:annotation>
											<xs:documentation>
												This field contains (if exist) the ev_code of the previous development product it refers to.
												Business Rules: AP.PEV.1.BR.
											</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="60"/>
												<xs:whiteSpace value="collapse"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ppiattachments" id="AP.PPIs" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Container for the Printed Product Information documents for the product.
						Business Rules: AP.PPIs.BR.
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ppiattachment" id="AP.PPI" maxOccurs="26">
							<xs:annotation>
								<xs:documentation>Contains details for each individual Printed Product Information document in a specific language for the product. Each PPI must contain various annexes relating to the product.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="attachmentcode" id="AP.PPI.1">
										<xs:annotation>
											<xs:documentation>
												This field references the attachment for this product.  This element must have an attribute: Resolution Mode.
												Business Rules: AP.PPI.1.BR
											</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:simpleContent>
												<xs:extension base="fk_code">
													<xs:attribute name="resolutionmode" use="required" id="AP.PPI.1..1">
														<xs:annotation>
															<xs:documentation>
																Resolution mode = 1 Local (Local Number present in the XML file).
																Resolution mode = 2 Global (ev_code of the attachment present in the EudraVigilance Lookup Tables. The pattern of the ev_code is 'ATT999999' )
															</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:int">
																<xs:enumeration value="1"/>
																<xs:enumeration value="2"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:attribute>
												</xs:extension>
											</xs:simpleContent>
										</xs:complexType>
									</xs:element>
									<xs:element name="validitydeclaration" fixed="1" id="AP.PPI.2" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												This must be set to 1 (valid) if an updated product PPI references a PPI previously loaded in the EVMPD (AP.PPI.1..1 = 2).
												Business Rules: AP.PPI.2.BR.
											</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:int">
												<xs:enumeration value="1"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="comments" id="AP.14" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						This element can be used to put some comments in a section.
						Business Rules: AP.14.BR.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="operationtype" use="required" id="AP..1">
			<xs:annotation>
				<xs:documentation>
					The type of the operation for this entity.
					1 = Insert 2 = Update 3 = Variation 4 = Nullify 5 = Change Ownership (EMA USE ONLY)  6 = Withdrawn
					Business Rules: AP..1.BR
				</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:int">
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
					<xs:enumeration value="3"/>
					<xs:enumeration value="4"/>
					<xs:enumeration value="5"/>
					<xs:enumeration value="6"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="pharmaceuticalproductType">
		<xs:sequence>
			<xs:element name="pharmformcode" id="PP.1">
				<xs:annotation>
					<xs:documentation>
						The pharmaceutical form of the product. The pharmaceutical form must have an attribute: Resolution Mode.
						Business Rules: AllProducts.PP.1.BR.1
						Business Rules: AuthProducts.PP.1.BR.1
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="fk_code">
							<xs:attribute name="resolutionmode" use="required" id="PP.1..1">
								<xs:annotation>
									<xs:documentation>Resolution mode = 1 Local (Local Number present in the XML file) Resolution mode = 2 Global (ev_code present in the EudraVigilance Lookup Tables)</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:int">
										<xs:enumeration value="1"/>
										<xs:enumeration value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="adminroutes" id="PP.ARs">
				<xs:annotation>
					<xs:documentation>
						This section contains information on all of the administration route(s) of the product.
						Business Rules: AllProducts.PP.ARs.BR.
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="adminroute" id="PP.AR" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>This section contains information each administration route of the product.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="adminroutecode" id="PP.AR.1">
										<xs:annotation>
											<xs:documentation>
												The Administration Route form of the product. The administration route must have an attribute: Resolution Mode.
												Business Rules: AllProducts.PP.AR.1.BR.
												Business Rules: AuthProducts.PP.AR.1.BR.
											</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:simpleContent>
												<xs:extension base="fk_code">
													<xs:attribute name="resolutionmode" use="required" id="PP.AR.1..1">
														<xs:annotation>
															<xs:documentation>
																Resolution mode = 1 Local (Local Number present in the XML file)
																Resolution mode = 2 Global (ev_code present in the EudraVigilance Lookup Tables)
															</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:int">
																<xs:enumeration value="1"/>
																<xs:enumeration value="2"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:attribute>
												</xs:extension>
											</xs:simpleContent>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="activeingredients" id="PP.ACTs">
				<xs:annotation>
					<xs:documentation>
						This section contains information about all of the active ingredients present in the product.
						Business Rules: AllProducts.PP.ACTs.BR.
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="activeingredient" id="PP.ACT" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>This section contains information about an individual active ingredient present in the product. </xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="substancecode" id="PP.ACT.1">
										<xs:annotation>
											<xs:documentation>
												The reference code of the substance that is present in the product. It identifies unequivocally a substance. This element must have an attribute: Resolution Mode.
												Business Rules: DevProducts.PP.ACT.1.BR.
												Business Rules: AuthProducts.PP.ACT.1.BR
											</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:simpleContent>
												<xs:extension base="fk_code">
													<xs:attribute name="resolutionmode" use="required" id="PP.ACT.1..1">
														<xs:annotation>
															<xs:documentation>
																Resolution mode = 1 Local (Local Number present in the XML file)
																Resolution mode = 2 Global (ev_code present in the EudraVigilance Lookup Tables)
															</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:int">
																<xs:enumeration value="1"/>
																<xs:enumeration value="2"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:attribute>
												</xs:extension>
											</xs:simpleContent>
										</xs:complexType>
									</xs:element>
									<xs:element name="concentrationtypecode" type="integernullable" id="PP.ACT.2">
										<xs:annotation>
											<xs:documentation>
												The code of the concentration type as in the CONCENTRATIONTYPE from the published list.
												Business Rules: AllProducts.PP.ACT.2.BR.
											</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="lowamountnumervalue" id="PP.ACT.3">
										<xs:annotation>
											<xs:documentation>The Low limit numerator value or for non range measurements the numerator value.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="24"/>
												<xs:fractionDigits value="12"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="lowamountnumerprefix" id="PP.ACT.4">
										<xs:annotation>
											<xs:documentation>
												The Low limit numerator prefix or for non range measurements the numerator prefix. Must be a value from the published list.
												Business Rules: AllProducts.PP.ACT.4.BR.
											</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="12"/>
												<xs:whiteSpace value="collapse"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="lowamountnumerunit" id="PP.ACT.5">
										<xs:annotation>
											<xs:documentation>
												The Low limit numerator Unit or for non range measurements the numerator Unit. Must be a value from the published list.
												Business Rules: AllProducts.PP.ACT.5.BR.
											</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="70"/>
												<xs:whiteSpace value="collapse"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="lowamountdenomvalue" id="PP.ACT.6">
										<xs:annotation>
											<xs:documentation>The Low limit denominator value or for non range measurements the value specified.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="24"/>
												<xs:fractionDigits value="12"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="lowamountdenomprefix" id="PP.ACT.7">
										<xs:annotation>
											<xs:documentation>
												The Low limit denominator prefix or for non range measurements the denominator prefix.
												Business Rules: AllProducts.PP.ACT.7.BR.
											</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="12"/>
												<xs:whiteSpace value="collapse"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="lowamountdenomunit" id="PP.ACT.8">
										<xs:annotation>
											<xs:documentation>
												The Low limit denominator Unit  must be a value from the published list.
												Business Rules: AllProducts.PP.ACT.8.BR.
											</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="70"/>
												<xs:whiteSpace value="collapse"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="highamountnumervalue" id="PP.ACT.9" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												The High limit numerator value must ONLY be used when specifying a range.
												Business Rules: AllProducts.PP.ACT.9.BR.
											</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="24"/>
												<xs:fractionDigits value="12"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="highamountnumerprefix" id="PP.ACT.10" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												The High limit numerator prefix is used when specifying a range and must be from the published list.
												Business Rules: AllProducts.PP.ACT.10.BR.
											</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="12"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="highamountnumerunit" id="PP.ACT.11" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												The High limit numerator Unit is used when specifying a range and must be from the published list.
												Business Rules: AllProducts.PP.ACT.11.BR.
											</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="70"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="highamountdenomvalue" id="PP.ACT.12" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												The High limit denominator Value is used when specifying a range.
												Business Rules: AllProducts.PP.ACT.12.BR.
											</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="24"/>
												<xs:fractionDigits value="12"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="highamountdenomprefix" id="PP.ACT.13" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												The High limit denominator prefix is used when specifying a range and must be from the published prefix list.
												Business Rules: AllProducts.PP.ACT.13.BR.
											</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="12"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="highamountdenomunit" id="PP.ACT.14" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												The High limit denominator Unit is used when specifying a range and must be from the published denominator unit list.
												Business Rules: AllProducts.PP.ACT.14.BR.
											</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="70"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="excipients" id="PP.EXCs" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						This section contains information about the excipients present in the product.
						Business Rules: AllProducts.PP.EXCs.BR.
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="excipient" id="PP.EXC" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>This section contains information about the excipients present in the product. </xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="substancecode" id="PP.EXC.1">
										<xs:annotation>
											<xs:documentation>
												Code of the substance that is present in the product. It identifies unequivocally a substance that is acting as an excipient in this pharmaceutical product. This element must have an attribute: Resolution Mode.
												Business Rules: DevProducts.PP.EXC.1.BR.
												Business Rules: AuthProducts.PP.EXC.1.BR
											</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:simpleContent>
												<xs:extension base="fk_code">
													<xs:attribute name="resolutionmode" use="required" id="PP.EXC.1..1">
														<xs:annotation>
															<xs:documentation>Resolution mode = 1 Local (Local Number present in the XML file) Resolution mode = 2 Global (ev_code present in the EudraVigilance Lookup Tables)</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:int">
																<xs:enumeration value="1"/>
																<xs:enumeration value="2"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:attribute>
												</xs:extension>
											</xs:simpleContent>
										</xs:complexType>
									</xs:element>
									<xs:element name="concentrationtypecode" type="integernullable" id="PP.EXC.2" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												The code of the concentration type as in the CONCENTRATIONTYPE from the published list.
												Business Rules: AllProducts.PP.EXC.2.BR.
											</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="lowamountnumervalue" id="PP.EXC.3" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												The Low limit numerator value or for non range measurements the numerator value.
												Business Rules: AllProducts.PP.EXC.3.BR.
											</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="24"/>
												<xs:fractionDigits value="12"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="lowamountnumerprefix" id="PP.EXC.4" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												The Low limit numerator prefix or for non range measurements the numerator prefix.
												Business Rules: AllProducts.PP.EXC.4.BR.
											</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="12"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="lowamountnumerunit" id="PP.EXC.5" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												The Low limit numerator Unit or for non range measurements the numerator Unit.
												Must be a value from the published list.
												Business Rules: AllProducts.PP.EXC.5.BR.
											</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="70"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="lowamountdenomvalue" id="PP.EXC.6" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												The Low limit denominator value or for non range measurements the denominator value.
												Business Rules: AllProducts.PP.EXC.6.BR.
											</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="24"/>
												<xs:fractionDigits value="12"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="lowamountdenomprefix" id="PP.EXC.7" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												The Low limit denominator prefix or for non range measurements the denominator prefix. Must be a value from the published list.
												Business Rules: AllProducts.PP.EXC.7.BR.
											</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="12"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="lowamountdenomunit" id="PP.EXC.8" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												The Low limit denominator Unit or for non range measurements the denominator Unit.
												Must be a value from the published list.
												Business Rules: AllProducts.PP.EXC.8.BR.
											</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="70"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="highamountnumervalue" id="PP.EXC.9" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												The High limit numerator value must ONLY be used when specifying a range.
												Business Rules: AllProducts.PP.EXC.9.BR.
											</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="24"/>
												<xs:fractionDigits value="12"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="highamountnumerprefix" id="PP.EXC.10" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												The High limit numerator prefix is used when specifying a range and must be from the published list.
												Business Rules: AllProducts.PP.EXC.10.BR.
											</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="12"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="highamountnumerunit" id="PP.EXC.11" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												The High limit numerator Unit is used when specifying a range and must be from the published list.
												Business Rules: AllProducts.PP.EXC.11.BR.
											</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="70"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="highamountdenomvalue" id="PP.EXC.12" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												The High limit denominator Value is used when specifying a range.
												Business Rules: AllProducts.PP.EXC.12.BR.
											</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="24"/>
												<xs:fractionDigits value="12"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="highamountdenomprefix" id="PP.EXC.13" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												The High limit denominator prefix is used when specifying a range and must be from the published list.
												Business Rules: AllProducts.PP.EXC.13.BR.
											</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="12"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="highamountdenomunit" id="PP.EXC.14" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												The High limit denominator Unit is used when specifying a range and must be from the published list.
												Business Rules: AllProducts.PP.EXC.14.BR.
											</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="70"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="adjuvants" id="PP.ADJs" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						This section contains information about all of the adjuvant ingredients present in the product.
						Business Rules: AllProducts.PP.ADJs.BR.
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="adjuvant" id="PP.ADJ" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>This section contains information about an individual adjuvant present in the product.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="substancecode" id="PP.ADJ.1">
										<xs:annotation>
											<xs:documentation>
												The reference code of the substance that is present in the product.
												It identifies unequivocally a substance. This element must have an attribute: Resolution Mode.
												Business Rules: DevProducts.PP.ADJ.1.BR.
												Business Rules: AuthProducts.PP.ADJ.1.BR
											</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:simpleContent>
												<xs:extension base="fk_code">
													<xs:attribute name="resolutionmode" use="required" id="PP.ADJ.1..1">
														<xs:annotation>
															<xs:documentation>
																Resolution mode = 1 Local (Local Number present in the XML file)
																Resolution mode = 2 Global (ev_code present in the EudraVigilance Lookup Tables)
															</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:int">
																<xs:enumeration value="1"/>
																<xs:enumeration value="2"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:attribute>
												</xs:extension>
											</xs:simpleContent>
										</xs:complexType>
									</xs:element>
									<xs:element name="concentrationtypecode" type="integernullable" id="PP.ADJ.2">
										<xs:annotation>
											<xs:documentation>
												The code of the concentration type as in the CONCENTRATIONTYPE from the published list.
												Business Rules: AllProducts.PP.ADJ.2.BR.
											</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="lowamountnumervalue" id="PP.ADJ.3">
										<xs:annotation>
											<xs:documentation>
												The Low limit numerator value or for non range measurements the numerator value.
											</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="24"/>
												<xs:fractionDigits value="12"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="lowamountnumerprefix" id="PP.ADJ.4">
										<xs:annotation>
											<xs:documentation>
												The Low limit numerator prefix or for non range measurements the numerator prefix. Must be a value from the published list.
												Business Rules: AllProducts.PP.ADJ.4.BR.
											</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="12"/>
												<xs:whiteSpace value="collapse"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="lowamountnumerunit" id="PP.ADJ.5">
										<xs:annotation>
											<xs:documentation>
												The Low limit numerator Unit or for non range measurements the numerator Unit. Must be a value from the published list.
												Business Rules: AllProducts.PP.ADJ.5.BR.
											</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="70"/>
												<xs:whiteSpace value="collapse"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="lowamountdenomvalue" id="PP.ADJ.6">
										<xs:annotation>
											<xs:documentation>The Low limit denominator value or for non range measurements the value specified.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="24"/>
												<xs:fractionDigits value="12"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="lowamountdenomprefix" id="PP.ADJ.7">
										<xs:annotation>
											<xs:documentation>
												The Low limit denominator prefix or for non range measurements the denominator prefix.
												Business Rules: AllProducts.PP.ADJ.7.BR.
											</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="12"/>
												<xs:whiteSpace value="collapse"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="lowamountdenomunit" id="PP.ADJ.8">
										<xs:annotation>
											<xs:documentation>
												The Low limit denominator Unit  must be a value from the published list.
												Business Rules: AllProducts.PP.ADJ.8.BR.
											</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="70"/>
												<xs:whiteSpace value="collapse"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="highamountnumervalue" id="PP.ADJ.9" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												The High limit numerator value must ONLY be used when specifying a range.
												Business Rules: AllProducts.PP.ACT.9.BR.
											</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="24"/>
												<xs:fractionDigits value="12"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="highamountnumerprefix" id="PP.ADJ.10" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												The High limit numerator prefix is used when specifying a range and must be from the published list.
												Business Rules: AllProducts.PP.ADJ.10.BR.
											</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="12"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="highamountnumerunit" id="PP.ADJ.11" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												The High limit numerator Unit is used when specifying a range and must be from the published list.
												Business Rules: AllProducts.PP.ADJ.11.BR.
											</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="70"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="highamountdenomvalue" id="PP.ADJ.12" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												The High limit denominator Value is used when specifying a range.
												Business Rules: AllProducts.PP.ADJ.12.BR.
											</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="24"/>
												<xs:fractionDigits value="12"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="highamountdenomprefix" id="PP.ADJ.13" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												The High limit denominator prefix is used when specifying a range and must be from the published prefix list.
												Business Rules: AllProducts.PP.ADJ.13.BR.
											</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="12"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="highamountdenomunit" id="PP.Adj.14" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												The High limit denominator Unit is used when specifying a range and must be from the published denominator unit list.
												Business Rules: AllProducts.PP.ADJ.14.BR.
											</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="70"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="medicaldevices" id="PP.MDs" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						This section contains information about all of the medical devices present in the product.
						Business Rules: AllProducts.PP.MDs.BR.
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="medicaldevice" id="PP.MD" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="medicaldevicecode" id="PP.MD.1">
										<xs:annotation>
											<xs:documentation>
												This section contains the code of each medical device present in the product.
												Business Rules: AllProducts.PP.MD.1.BR.
											</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:int">
												<xs:minInclusive value="1"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="null_value">
		<xs:annotation>
			<xs:documentation>This XML type is used to indicate, by an empty string, the null value </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value=""/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integernullable">
		<xs:annotation>
			<xs:documentation>This XML type is used for specify a non mandatory integer field</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="xs:integer null_value"/>
	</xs:simpleType>
	<xs:simpleType name="doublenullable">
		<xs:annotation>
			<xs:documentation>This XML type is used for specify a non mandatory double field</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="xs:double null_value"/>
	</xs:simpleType>
	<xs:simpleType name="fk_code">
		<xs:annotation>
			<xs:documentation>The foreign key type: A string of max 60 character. </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="60"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="fk_code_text">
		<xs:annotation>
			<xs:documentation>The foreign key / text type: A string of max 2000 character which can be a foreign key or a text.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2000"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>

  <xs:element name="optional1"  >
    <xs:annotation>
      <xs:documentation>Optional filed 1</xs:documentation>
      <xs:documentation xml:lang="en">
        Optional field for future use.
      </xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="255"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="optional2">
    <xs:annotation>
      <xs:documentation>Optional filed 2</xs:documentation>
      <xs:documentation xml:lang="en">
        Optional field for future use.
      </xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="255"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="optional3">
    <xs:annotation>
      <xs:documentation>Optional filed 3</xs:documentation>
      <xs:documentation xml:lang="en">
        Optional field for future use.
      </xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="255"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="optional4">
    <xs:annotation>
      <xs:documentation>Optional filed 4</xs:documentation>
      <xs:documentation xml:lang="en">
        Optional field for future use.
      </xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="255"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="optional5">
    <xs:annotation>
      <xs:documentation>Optional filed 5</xs:documentation>
      <xs:documentation xml:lang="en">
        Optional field for future use.
      </xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="255"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  
</xs:schema>
